* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: #C1E1C1;
}


/* utility classes */

.container {
    display: flex;
    width: 100%;
}

.column {
    flex-direction: column;
}

.centering {
    justify-content: center;
    align-items: center;
}

.flex {
    flex: 1;
}

.main {
    flex: 5;
}

.bg-color {
    background-color: 	#F8C8DC;
}

/* only while visualizing the layout */

div {
    border: 1px solid black;
}

/* etch-a-sketch main game layout */

.etch-a-sketch {
    width: 90%;
    height: 100%;
}

.screen {
    background-color: #efefef;
}

.eas-bottom {
    justify-content: space-between;
}

.left-knob,
.right-knob {
    width: 90px;
    height: 90px;
    background-color: #fffdd0;
    border: 8px dashed #eeecc0;
    border-radius: 50%;
    box-shadow: 1px 1px 1px black;
}