* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: #C1E1C1;
}


/* utility classes */

.container {
    display: flex;
    width: 100%;
}

.column {
    flex-direction: column;
}

.centering {
    justify-content: center;
    align-items: center;
}

.flex {
    flex: 1;
}

.main {
    flex: 5;
}

.bg-color {
    background-color: 	#F8C8DC;
}

/* etch-a-sketch main game layout */

.etch-a-sketch {
    width: 90%;
    height: 500px;
    max-width: 500px;
    max-height: 500px;
    border: 8px solid #3A1F04;
    border-radius: 4px;
    box-shadow: 0 12px 12px #21212190;
}

.eas-title {
    font-size: 3rem;
    word-spacing: -8px;
    font-family: 'Brush Script MT', sans-serif;
    text-shadow: 1px 1px 1px #00000080;
    text-align: center;
}

.screen {
    background-color: #efefef;
    border: 1px solid #00000020;
    width: 300px;
    height: 300px;
}

.eas-bottom {
    justify-content: space-between;
    align-items: center;
}

.column-tile {
    display: flex;
    height: 100%;
}

.row-tile {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
}

.row-tile:hover {
    background-color: red;
    opacity: 1;
}

#grid-clear,
#matchaMode {
    font-size: 32px;
    background: none;
    padding: 0;
    cursor: pointer;
    border: none;
    padding: 0 16px;
}