* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* utility classes */

.container {
    display: flex;
}

.column {
    flex-direction: column;
}

.gameBorder {
    background-color: red;
    border: 1rem ridge red;
}

/* gameconsole elements */

.top {
    height: 6rem;
    width: 100%;
}

.left, .right {
    height: 36rem;
    width: 6rem;
}