* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

/* utility classes */

.container {
    display: flex;
}

.column {
    flex-direction: column;
}

.centering {
    justify-content: center;
    align-items: center;
}

.flex {
    flex: 1;
}

.bg-color {
    background-color: red;
}

.gameBorder {
    border: 8px solid black;
}

/* gameconsole elements */

.etch-a-sketch {
    width: 50rem;
    min-height: 40rem;
}

.top,
.bottom {
    height: 6rem;
    width: 100%;
}

.left,
.right {
    height: 34rem;
    width: 6rem;
}

.center {
    width: 100%;
    height: 100%;
}

.bottom {
    width: 100%;
}

.game-screen {
    height: 100%;
    width: 100%;
}

.knob {
    width: 6rem;
    height: 6rem;
}