* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* utility classes */

.container {
    display: flex;
}

.column {
    flex-direction: column;
}

.centering {
    justify-content: center;
    align-items: center;
}

.flex {
    flex: auto;
}

.bg-color {
    background-color: red;
}

.gameBorder {
    border: 1rem ridge red;
}

/* gameconsole elements */

.etch-a-sketch {
    max-height: 600px;
    max-width: 800px;
}

.top,
.bottom {
    height: 6rem;
    width: 100%;
}

.left,
.right {
    width: 6rem;
}

.center {
    width: 100%;
    height: 36rem;
}

.game-screen {
    height: 100%;
}