* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: #C1E1C1;
}

/* utility classes */

.container {
    display: flex;
}

.column {
    flex-direction: column;
}

.centering {
    justify-content: center;
    align-items: center;
}

.flex {
    flex: 1;
}

.bg-color {
    background-color: 	#F8C8DC;
}

.gameBorder {
    border: 8px solid black;
    border-radius: 12px;
    box-shadow: 8px 8px 10px black;
}

/* gameconsole elements */

.etch-a-sketch {
    width: 50rem;
    min-height: 40rem;
}

.top,
.bottom {
    height: 6rem;
    width: 100%;
}

.left,
.right {
    height: 34rem;
    width: 6rem;
}

.center {
    width: 100%;
    height: 100%;
}

.bottom {
    justify-content: space-between;
    color: #00000090;
    text-shadow: 1px 0 0 #111;
}

.game-title {
    font-size: 3rem;
    word-spacing: -8px;
    font-family: 'Brush Script MT', sans-serif;
    padding: 1rem;
    text-shadow: 1px 1px 1px #00000080;
}

.registered {
    font-size: 1rem;
    position: relative;
    top: -1rem;
}

.game-screen {
    height: 100%;
    width: 100%;
    background-color: #efefef;
}

.knob {
    width: 6rem;
    height: 6rem;
}

.rotatingKnob {
    height: 100%;
    width: 100%;
    background-color: #FFFDD0;
    border: 8px dashed #eeecc0;
    border-radius: 50%;
    box-shadow: 1px 1px 1px black;
}

.h-arrows {
    gap: 10px;
}

.h-arrows,
.v-arrows {
    font-size: 1.2rem;
    font-weight: bolder;
}